<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
        <ul class="navbar-nav">
          <li class="nav-item">
              <a href="purchaselist" class="nav-link" routerLinkActive="active">Purchase Order</a>
          </li>
         <li class="nav-link">
           <button (click)=logout() type="submit" >LogOut</button>
          </li>
        </ul>
      </nav>
      <div class="card bg-info text-white">
          <img src="assets/assetimg.jpg" class="card-img" alt="image of asset management system">
          <div class="card-img-overlay">
            <h2 class="card-title" style="text-align:center">Welcome to Asset Management System</h2>
          </div>
        </div>