<div class="login">
  <h3 class="login-header">LOGIN</h3>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="logins()">
    <div [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <input type="text" placeholder="username" formControlName="username">
    </div>
    <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <div>
      <input type="submit" value="Sign in">
    </div>
  </form>
</div>